<!DOCTYPE html>
<html>
<head>
<script
			  src="https://code.jquery.com/jquery-3.1.0.min.js"
			  integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
			  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
<form action="/add" method="POST">
  <div class="form-group">
    <label for="nume">Nume</label>
    <input type="text" class="form-control" id="nume" placeholder="Nume" name="nume">
  </div>

  <div class="form-group">
    <label for="prenume">Prenume</label>
    <input type="text" class="form-control" id="prenume" placeholder="Prenume" name="prenume">
  </div>
  <div class="form-group">
    <label for="nr">Numar de ore pe saptamana</label>
    <input onclick="c(0);" value="30" type="number" class="form-control" id="nr" placeholder="Numar de ore" name="nr">
  </div>

  <div class="form-group">
    <label for="select">Clasa</label>
    <select class="form-control" id="select" name ="clasa">
      <option>a V-a</option>
      <option>a VI-a</option>
      <option>a VII-a</option>
      <option>a VIII-a</option>
      <option>a IX-a</option>
      <option>a X-a</option>
      <option>a XI-a</option>
      <option>a XII-a</option>
    </select>
  </div>


  <label class="checkbox-inline"><input type="checkbox" onclick="c(this);" value="1" name="1" data-start = "1:9:30" data-end = "1:12:30" >Option 1</label>
  <label class="checkbox-inline"><input type="checkbox" onclick="c(this);" value="1" name="2" data-start = "2:9:00" data-end = "2:15:30" >Option 2</label>
  <label class="checkbox-inline"><input type="checkbox" onclick="c(this);" value="1" name="3" data-start = "2:14:00" data-end = "2:15:00" >Option 3</label>
  <label class="checkbox-inline"><input type="checkbox" onclick="c(this);" value="1" name="3" data-start = "1:14:00" data-end = "2:14:00" >Option 4</label>

<% var j=0; %>
<h2>Luni</h2>
<% item1.forEach(function(i) { %>
        <label class="checlbocx-inline" > <input type="checkbox" onclick="c(this);" value="<%= i.nume %>" data-start = "<%= i.ziua %>:<%= i.start %>" data-end="<%= i.ziua %>:<%= i.end %>" name = "<%= j %>" > <%= i.nume %> </label>
        <button type="button" class="btn btn-info" data-toggle="popover" title="Info" data-content="<%= i.info %>">Info</button> <br>
        <div>Numar locuri:<div id="choice<%= j %>"><%= i.nr %></div></div>
        <br>
        <% j++ %>
<% }); %>

<h2>Marti</h2>
<% item2.forEach(function(i) { %>
        <label class="checlbocx-inline" > <input type="checkbox" onclick="c(this);" value="<%= i.nume %>" data-start = "<%= i.ziua %>:<%= i.start %>" data-end="<%= i.ziua %>:<%= i.end %>" name = "<%= j %>" > <%= i.nume %> </label>
        <button type="button" class="btn btn-info" data-toggle="popover" title="Info" data-content="<%= i.info %>">Info</button> <br>
        <div>Numar locuri:<div id="choice<%= j %>"><%= i.nr %></div></div>
        <br>
        <% j++ %>
<% }); %>

<h2>Miercuri</h2>
<% item3.forEach(function(i) { %>
        <label class="checlbocx-inline" > <input type="checkbox" onclick="c(this);" value="<%= i.nume %>" data-start = "<%= i.ziua %>:<%= i.start %>" data-end="<%= i.ziua %>:<%= i.end %>" name = "<%= j %>" > <%= i.nume %> </label>
        <button type="button" class="btn btn-info" data-toggle="popover" title="Info" data-content="<%= i.info %>">Info</button> <br>
        <div>Numar locuri:<div id="choice<%= j %>"><%= i.nr %></div></div>
        <br>
        <% j++ %>
<% }); %>

<h2>Joi</h2>
<% item4.forEach(function(i) { %>
        <label class="checlbocx-inline" > <input type="checkbox" onclick="c(this);" value="<%= i.nume %>" data-start = "<%= i.ziua %>:<%= i.start %>" data-end="<%= i.ziua %>:<%= i.end %>" name = "<%= j %>"> <%= i.nume %> </label>
        <button type="button" class="btn btn-info" data-toggle="popover" title="Info" data-content="<%= i.info %>">Info</button> <br>
        <div>Numar locuri:<div id="choice<%= j %>"><%= i.nr %></div></div>
        <br>
        <% j++ %>
<% }); %>

<h2>Vineri</h2>
<% item5.forEach(function(i) { %>
        <label class="checlbocx-inline" > <input type="checkbox" onclick="c(this);" value="<%= i.nume %>" data-start = "<%= i.ziua %>:<%= i.start %>" data-end="<%= i.ziua %>:<%= i.end %>" name = "<%= j %>" > <%= i.nume %> </label>
        <button type="button" class="btn btn-info" data-toggle="popover" title="Info" data-content="<%= i.info %>">Info</button> <br>
        <div>Numar locuri:<div id="choice<%= j %>"><%= i.nr %></div></div>
        <br>
        <% j++ %>
<% }); %>
<br>
<input name="user[heh]" value= "<%= j %>" type="hidden">
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<br>
<div class="alert alert-info" id="msg">
  <strong>Alege-ti activitatile !</strong>
</div>


<script>

let intervals = [];
let mins = 0;
function overlap(k)
{
      if(k)
      {
        $("#msg").removeClass().addClass("alert alert-danger");
        $('#msg').html("Doua sau mai multe intervale de timp se suprapun").show();
        return ; 
      }
      if(mins >= 60 * document.getElementById('nr').value)
      {
        $("#msg").removeClass().addClass("alert alert-success");
        $('#msg').html("Ai destule ore :D").show();
        return ;
      }
      $("#msg").removeClass().addClass("alert alert-info");
      $('#msg').html("Mai ai nevoie de " +  String(document.getElementById('nr').value - (mins/60)) + " ore" ).show();

}

function StringMins(String)
{
  let a = String.split(':');
  return (+a[0]) * 1440  + (+a[1]) * 60 + (+a[2]); 
}

function checkOverlap(arr1 , arr2)
{
  if(Math.max(arr1[0],arr2[0]) < Math.min(arr1[1],arr2[1]) ) 
  {
    return 1;
  }
  return 0;
}

function c(obj) 
{
  if(obj !== 0)
  {
    if(obj.checked)
    {
      intervals.push([StringMins(obj.dataset.start) , StringMins(obj.dataset.end)]);
      mins += StringMins(obj.dataset.end) - StringMins(obj.dataset.start);
    }
    else 
    {
      intervals.splice(intervals.indexOf([StringMins(obj.dataset.start) , StringMins(obj.dataset.end)]), 1);
      mins -= StringMins(obj.dataset.end) - StringMins(obj.dataset.start);
    }
  }
    for(let sub1 of intervals)
    {
      for(let sub2 of intervals)
      {
        if (intervals.indexOf(sub1) !== intervals.indexOf(sub2))
        {
          if (checkOverlap(sub1 , sub2))
          {
            overlap(1);
            return ; 
          }
        }
      }
    }
  overlap(0);
}

$(function () {
  $('[data-toggle="popover"]').popover();
})


</script>

</body>
</html>
